.imgSection {
  img {
    object-fit: cover;
  }
  //최상위 부모 div
  .mainImgPBox {
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  // text div감싸고 있는 div
  .textBox {
    margin: 135px 0;

    img:hover {
      opacity: 0.7;
    }

    img:hover ~ .leftTextBox {
      display: block;
      opacity: 1;
    }

    img:hover ~ .rightTextBox {
      display: block;
      opacity: 1;
    }

    img:hover ~ .shortTextBox {
      display: block;
      opacity: 1;
    }
  }

  //text div
  .leftTextBox,
  .rightTextBox {
    position: absolute;
    text-align: center;
    opacity: 0;
    letter-spacing: 1px;
    line-height: 1.5;
    color: rgb(177, 175, 175);

    &:hover {
      display: block;
      opacity: 1;
    }
  }

  .leftTextBox {
    top: 600px;
    left: 140px;
  }

  .rightTextBox {
    top: 340px;
    right: 250px;
  }

  //상품 제목만 있는 text div
  .shortTextBox {
    position: absolute;
    text-align: center;
    opacity: 0;
    letter-spacing: 1px;
    line-height: 1.5;
    top: 700px;
    left: 320px;
    color: rgb(27, 61, 30);
  }
  //빈 div
  .ImgEmptyBox {
    width: 50%;
  }

  //img

  .soapTopBox {
    width: 52%;
    margin-top: 350px;

    .soapTop {
      width: 100%;
    }
  }

  .womanTopBox {
    width: 20%;
    margin-top: 200px;

    .womanTop {
      width: 100%;
    }
  }

  .sampleTopBox {
    margin-top: 0;
    width: 40%;

    .sampleTop {
      width: 100%;
    }
  }

  .bathRoomBox {
    width: 50%;

    .bathRoom {
      width: 100%;
    }
  }

  .sampleBottomBox {
    width: 52%;
    margin-top: 50px;

    .sampleBottom {
      width: 100%;
    }
  }

  .creamBox {
    position: absolute;
    left: 10%;
    width: 50%;

    // display: block;
    .cream {
      width: 50%;
    }
  }

  .womanBottomBox {
    width: 50%;
    margin-top: 0;
    position: absolute;
    right: 0;

    .womanBottom {
      width: 100%;
    }
  }

  .twotoneBox {
    width: 40%;
    position: absolute;
    left: 0;
    top: 1000px;

    .twotone {
      width: 100%;
    }
  }
}
