.scrollSection {
  .rogoScrollBox {
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;

    Link {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      object-fit: cover;
      margin-top: -35px;
      max-width: 60vw;
      max-height: 60vh;
      width: 100%;
      height: 100%;
    }
    img {
      z-index: -1;
      transform: rotate(90deg);
      transition-duration: 0.5s;
    }
  }
}

//transform: translateY(50px);
