@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Kaisei HarunoUmi', serif;
}

html,
body,
#root {
  height: 100%;
}

a {
  text-decoration: none;
}
