@mixin fontSize($size) {
  font-size: $size;
}
.Join {
  .container {
    width: 400px;
    height: 1187px;
    margin: 200px auto;

    h1 {
      height: 67px;
      padding: 20px 0px;
      margin: 0px 0px 15px;
      text-align: center;
      @include fontSize(20px);
    }

    span,
    label,
    input,
    h4 {
      @include fontSize(12px);
      font-family: 'Arial, Helvetica, sans-serif';
    }

    .join-inner {
      .info {
        list-style: none;

        label {
          display: block;
          margin: 15px 0 5px;
        }

        input {
          width: 100%;
          height: 37px;
          border: 1px solid black;
        }

        span {
          margin-top: 10px;
        }
      }

      .mobile-input-inner {
        position: relative;
        height: 40px;

        select {
          height: 100%;
          padding: 7px;
          font-size: 13px;
          border: 1px solid #000;
          background: transparent;
        }

        input {
          position: absolute;
          width: 50px;
          height: 100%;
          border: 1px solid black;
          margin-left: 10px;
          padding: 7px 2px;
          text-align: center;

          &:last-child {
            left: 127px;
          }
        }
      }

      .birthDay {
        input {
          width: 50px;
          margin-right: 10px;
          padding: 10px;
          font-size: 12px;
          color: #9a9a9a;
          background: transparent;
          border: 1px solid #000;
        }
      }
    }
  }
}
