.productDetail {
  margin: 200px;

  .path {
    text-align: center;
    margin: 50px 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;

    .productImageWrapper {
      margin-right: 70px;
      max-width: 1080px;

      .gift {
        display: flex;
        flex-direction: column;
        text-align: center;

        > span {
          font-size: 16px;

          &:not(:last-child) {
            margin-bottom: 5px;
          }

          &:first-child {
            font-weight: bold;
          }

          &:not(:first-child) {
            opacity: 0.5;
          }
        }
      }
    }

    .productInfoWrapper {
      max-width: 380px;
    }
  }
}
