.mobile {
  select {
    height: 41px;
    box-sizing: border-box;
    padding: 7px;
    font-size: 13px;
    border: 1px solid #000;
    background: transparent;
    box-sizing: border-box;
  }
  // input {
  //   width: 50px;
  //   margin-right: 5px;
  // }
}
