.navContainer {
  display: flex;
  margin: 20px 45px;

  img {
    object-fit: cover;
  }

  .navBox {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .navLogo {
    width: 150px;
    height: 74px;
  }

  .topUl {
    position: fixed;
    display: flex;
    right: 45px;
  }

  .topLi {
    margin-left: 40px;
    font-size: 18px;
  }

  .topLink {
    color: black;
  }

  .menu {
    position: absolute;
    display: flex;
    width: 200px;
    height: 300px;
    align-items: flex-end;
  }

  .searchBox {
    width: 100%;
    border-bottom: 1px solid black;
  }

  .search {
    width: 100%;
    border: none;

    &::placeholder {
      color: black;
      font-size: 18px;
    }
  }
}
