.navContainer {
  display: flex;
  margin: 20px 45px;

  img {
    object-fit: cover;
  }

  .navBox {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .navLogo {
    width: 150px;
    height: 80px;
  }

  .topUl {
    position: fixed;
    display: flex;
    right: 45px;
  }

  .topLi {
    margin-left: 40px;
    font-size: 18px;
  }

  .topLink {
    color: black;
  }

  .menuBox {
    position: absolute;

    width: 200px;
    height: 300px;
  }

  .searchBox {
    width: 100%;
    border-bottom: 1px solid black;
  }

  .search {
    width: 100%;
    border: none;
    margin-top: 5px;

    &::placeholder {
      color: black;
      font-size: 18px;
    }
  }

  input:focus::placeholder {
    color: transparent;
  }

  //menu
  .menu {
    a {
      color: black;
      line-height: 1.5;
      font-size: 18px;
      letter-spacing: normal;

      &:hover {
        text-decoration: underline;
      }
    }
    ul {
      margin-left: 13px;
      // transition: ease 2s;
    }
  }
}
