.productSelect {
  text-align: center;

  > button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 200px;
    padding: 10px;
    width: 100%;
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
}
